<!DOCTYPE html>
<html ng-app="anonimo">
    
    <head>
        
        <base href="/" />
        
        <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
        
        <link type="stylesheet/less" rel="stylesheet/less" href="styles/main.less" />
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
        
        <script type="text/javascript" src="app/app.js"></script>       
        <script type="text/javascript" src="app/nav/navcontroller.js"></script>
        <script type="text/javascript" src="app/landingpage/landingpagecontroller.js"></script>
        <script type="text/javascript" src="app/account/accountcontroller.js"></script>

        <title>Anonimo</title>
        
    </head>
    
    <body ng-controller="NavController as nav">
        <div class="container-fluid">
            <div class="pull-left">
                <!-- <div class="brand">
                    Anonimo
                </div> -->
                <br>
                <ul class="list-inline" style="padding-left: 20px;">
                    <li ng-repeat="item in nav.items" ng-if="item.state">
                        <a ng-href="{{item.link}}">
                            {{item.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div ng-view></div>
        
    </body>
</html>