<div ng-controller="LandingPageController"> <!-- class="maincontent"-->


<div class="container" style="margin: auto; width: 50%">
    <div class="bs-example bs-example-tabs">
        <ul id="myTab" class="nav nav-tabs">
            <!-- need to toggle between active and inactive here -->
          <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
          <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
        </ul>
    </div>
  <div class="modal-body">
    <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="signin">
        <form class="form-horizontal">
        <fieldset>
        <!-- Sign In Form -->
        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="userid">Alias:</label>
          <div class="controls">
            <input required="" id="userid" name="userid" type="text" class="form-control" placeholder="JoeSixpack" class="input-medium" required="">
          </div>
        </div>

        <!-- Password input-->
        <div class="control-group">
          <label class="control-label" for="passwordinput">Password:</label>
          <div class="controls">
            <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
          </div>
        </div>

<!--         Multiple Checkboxes (inline)
        <div class="control-group">
          <label class="control-label" for="rememberme"></label>
          <div class="controls">
            <label class="checkbox inline" for="rememberme-0">
              <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
              Remember me
            </label>
          </div>
        </div> -->

        <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="signin"></label>
          <div class="controls">
            <button id="signin" name="signin" class="btn btn-success">Sign In</button>
          </div>
        </div>
        </fieldset>
        </form>
    </div>
    <div class="tab-pane fade" id="signup">
        <form class="form-horizontal">
        <fieldset>
        <!-- Sign Up Form -->
        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="Email">Email:</label>
          <div class="controls">
            <input id="Email" name="Email" class="form-control" type="text" placeholder="JoeSixpack@sixpacksrus.com" class="input-large" required="">
          </div>
        </div>
        
        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="userid">Alias:</label>
          <div class="controls">
            <input id="userid" name="userid" class="form-control" type="text" placeholder="JoeSixpack" class="input-large" required="">
          </div>
        </div>
        
        <!-- Password input-->
        <div class="control-group">
          <label class="control-label" for="password">Password:</label>
          <div class="controls">
            <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
            <em>1-8 Characters</em>
          </div>
        </div>
        
        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
          <div class="controls">
            <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
          </div>
        </div>
        
        <!-- Multiple Radios (inline) -->
        <br>
        <div class="control-group">
          <label class="control-label" for="accounttype">Account Type:</label>
          <div class="controls">
           <!-- need to toggle here too -->
            <label class="radio inline" for="accounttype-0">
              <input type="radio" name="accounttype" id="accounttype-0" value="student" checked="checked">I'm a Student</label>
            <label class="radio inline" for="accounttype-1">
              <input type="radio" name="accounttype" id="accounttype-1" value="professor">I'm a Professor</label>
          </div>
        </div>
        
        <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="confirmsignup"></label>
          <div class="controls">
            <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign Up</button>
          </div>
        </div>
        </fieldset>
        </form>
  </div>
</div>






    <!-- <div class="container-fluid centeringlol text-center">

    <h1 class="text-center signuph1" style="margin-top: -50px;">Ask questions during lecture anonymously!</h1>

    <div class="jumbotron" style="padding-bottom: 150px;">
        <div ng-show="showSignIn">
            <h2 class="text-center">Sign In!</h2>
            <div ng-show="showButtons">
                <div class="btn btn-primary btn-lg" ng-click="setMode(true)">
                    I am a Professor
                </div>
                <div class="btn btn-primary btn-lg" ng-click="setMode(false)">
                    I am a Student
                </div>
            </div>
        </div>
                
        <div ng-show="!showSignIn">
            <h2 class="text-center">Sign Up!</h2>
            <div ng-show="showButtons">
                <button class="btn btn-primary btn-lg" ng-click="setMode(true)">
                    I am a Professor
                </button>
                <button class="btn btn-primary btn-lg" ng-click="setMode(false)">
                    I am a Student
                </button>
            </div>
        </div>
            
        <span>Dont have an account? Create one <a href="#" ng-click="showSignIn = false">here!</a></span>
        <div ng-show="!showButtons">
            <div ng-show="showSignIn">
                <form class="navbar-form navbar-left" ng-submit="signIn()" >
                    <div class="form-group">
                    <div class="row" style="margin-top: 10px; width: 100%">
                        <div class="col-md-6">
                            <input type="email" class="form-control" placeholder="Email" ng-model="email">
                        </div>
                        <div class="col-md-6">
                            <input type="password" class="form-control" placeholder="Password" ng-model="password">
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success btn-lg" style="margin-top: 10px">Sign in</button>
                    </div>
                </form> 
            </div> 
            <div ng-show="!showSignIn">
                <form class="navbar-form navbar-left" ng-submit="signUp()" >
                    <div class="form-group">
                    <div class="row" style="margin-top: 10px; width: 100%">
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Name" ng-model="name">
                        </div>
                        <div class="col-md-4">
                            <input type="email" class="form-control" placeholder="Email" ng-model="email">
                        </div>
                        <div class="col-md-4">
                            <input type="password" class="form-control" placeholder="Password" ng-model="password">
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success btn-lg" style="margin-top: 10px">Sign up</button>
                    </div>
                </form> 
            </div>   
        </div>
    </div>
</div> -->
</div>