<div class="container">
    <div class="row" style="color:#fff">
        <div class="col-xs-12">
            <ul>
                <li ng-repeat="email in emails">
                    {{email.address}}
                </li>
            </ul>
                
            
            <form ng-hide="nav.state" class="navbar-form navbar-left" ng-submit="account.addemail()">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" ng-model="account.newemail">
                </div>
                
                {{account.newemail}}
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
        </div>
    </div>
</div>