<div ng-controller="AccountController">
    <div class="container" style="color:#fff">
    <p>Hey Prof, to go to a lecture room, you may either add a new lecture or select an existing lecture</p>
    <div class="row">
        <div class="col-xs-6">
            <h3>Add a Lecture</h3>
<!--             <form>
                <label>Name: <input type="text" ng-model="newLectureName" placeholder="CS101"></label>
                <label>Students:<br>
                <div ng-repeat="c in allStudentsEverCreated">
                    <label><input type="checkbox" ng-value="l" name="Name" ng-model="selectedLecture"> {{l['Name']}}</label>
                </div>
            </form> -->
        </div>
        <div class="col-xs-6">
            <h3>Select a Lecture</h3>
            <div ng-repeat="l in lectures">
                <label><input type="radio" ng-value="l" name="Name" ng-model="selectedLecture"> {{l['Name']}}</label>
            </div>
            <button ng-click="selectLecture()" class="btn btn-success" style="margin-top: 10px">Select</button>
        </div>
    </div>
    </div>
</div>