<div class="container-fluid">
    <div class="loginform">
      <form novalidate>
        <input type="email" ng-model="user.name" placeholder="Email" class="formtext"/><br />
        <input type="password" ng-model="user.email" placeholder="Password" class="formtext"/><br />
        Gender: <input type="radio" ng-model="user.gender" value="male" />male
        <input type="radio" ng-model="user.gender" value="female" />female<br />
        <input type="button" ng-click="reset()" value="Reset" />
        <input type="submit" ng-click="update(user)" value="Save" />
      </form>
    </div>
</div>