@darkgrey: #909090;
@white: #fff;
@bgc: #c0d8ff;

.brand{
    color:#fff !important;
}

html, body{
    width: 100%;
    height: 100%;
}

.loginform{
    width: 100%;
    form{
        width: 100%;
    }
}
.maincontent{
    background-image: url("../landing_bg.jpg");
    background-repeat: no-repeat;
    background-size:cover; 
}
input.formtext{
    padding: 10px;
    background-color: @darkgrey;
    border-color: @darkgrey;
    border-width: 1px;
    border-style: solid;
    width: 50% !important;
    height: 38px;
    -webkit-box-shadow: inset 2px 1px 30px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 1px 30px -1px rgba(0,0,0,0.75);
    box-shadow: inset 2px 1px 30px -1px rgba(0,0,0,0.75);
    color: @white;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

a:hover{
    cursor: pointer !important;
}
.navbarcolor{
    border-style: none;
    background-color: rgba(255,255,255,0.2);
    border-radius: 0;
}

.centeringlol{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btnsignup{
    border-radius: 0;
    border-style:none;
    background-color: fade(#fff, 50%);
}

.signuph1{
    font-size: 60px;
}